// Design

body
  border-top: $navy 20px solid
  color: $text-grey
  margin: 0

// Navigation
nav[role="navigation"]
  border-width: 0.333em 0
  border-style: solid
  border-color: $navy
  text-align: center
  ul
    font-size: 1.4em
    line-height: 2
    +inline-block-list
  li
    margin: 0 28px
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0
    @media (max-width: $bp-phone-touch-landscape)
      display: block !important
      text-align: left
      margin-left: 3rem !important
  a
    font-family: $font-serif

// Page titles
main h1
  @media (max-width: $bp-phone-touch-landscape)
    margin-bottom: 1.5rem

// Information
.information
  background: $navy
  padding: 20px 0
  text-align: center
  @media (max-width: $bp-phone-touch-landscape)
    padding: 1rem
  .sub-header
    color: $white
    font-family: $font-script
    font-size: 36px
    margin-bottom: 20px
  h1, h2, h3
    color: $white
    line-height: 1
  .date
    margin-bottom: 20px
  .venue
    margin-bottom: 10px
  .zip-code
    font-size: 30px

// Header
header[role="banner"]
  .name
    padding: $padding-top-bottom
    @media (max-width: $bp-phone-touch-landscape)
      padding: 1rem
      .names
        display: block
        float: none
        line-height: 1.2
      .meghan
        &:after
          content: "&"
          display: block
          font-family: $font-serif
      .cap-p
        margin: 0
        position: relative
        left: 10px
        a
          margin: 0

    h1, h2
      font-family: $font-headline

// Capital P
.cap-p
  a
    color: $grey-blue
    display: block
    font-family: $font-serif
    font-size: 3em
    height: 105px
    line-height: 1
    margin-left: 24px
    width: 72px
    +transition-property(hover)
    +transition-timing-function(ease-in-out)
    +transition-duration(1s)
    &:hover
      border-bottom: 0
      color: $navy

// Footer
footer
  background: $navy
  +background(image_url("black-paper.png") repeat-x)
  color: $white
  padding: $padding-top-bottom
  padding-bottom: 0
  .contact
    font-size: 1.15em

// Images

// Front page
.welcome
  float: left
  margin-right: 20px
  margin-top: 10px

// About
.alamo-square
  text-align: center

iframe
  margin-bottom: 20px

// Photo credit
.photo-credit
  display: block
  font-size: 16px
  line-height: 1
  text-align: right
  a
    font-weight: normal

// Wedding party
.bio
  &:first-letter
    float: left
    font-family: $font-script
    font-size: 3em
    line-height: 0.8
    padding-right: 8px

#kimberly-palagyi-the-maid-of-honor,
#julia-winder,
#sarah-solomon,
#zach-faden-best-man,
#dustin-ingram
  line-height: 1
