// Layout

header section,
main,
footer section
  margin: 0 auto
  max-width: 60rem
  padding: 0 1rem

header
  text-align: center
  .name
    +clearfix
    max-width: 40rem
  .meghan
    +float-left
  .tim
    +float-right
  .cap-p
    display: inline-block

main
  padding: 2rem
