<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Meghan and Tim</a>
  </div>
  <ul class="menu">
    <li><a href="/about">About</a></li>
    <li><a href="/ceremony-reception">Ceremony &amp; Reception</a></li>
    <li><a href="/registries">Registries</a></li>
    <li><a href="/travel-accommodations">Travel &amp; Accommodations</a></li>
    <li><a href="/weekend">Weekend</a></li>
  </ul>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Meghan<br />
        and<br />
        Tim
      </p>
    </div>
  </div>
</div>

</body>
</html>
