<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection" />
   <title>{{ page.title }}</title>
</head>
<body>

<div id="root">
<header role="banner">
  <section class="name">
    <h1 class="cap-p"><a href="/">P</a></h1>
    <h2 class="names meghan">Meghan Palagyi</h2>
    <h2 class="names tim">Timothy Plunkett</h2>
  </section>
  <nav role="navigation">
    <ul class="menu">
      <li><a href="/about">About Us</a></li>
      <!--<li><a href="/wedding-party">Wedding Party</a></li>-->
      <li><a href="/ceremony-reception">Ceremony &amp; Reception</a></li>
      <li><a href="/registries">Registries</a></li>
      <li><a href="/travel-accommodations">Travel &amp; Accommodations</a></li>
    </ul>
  </nav>
</header>

{{ content }}
<div id="root_footer"></div>
</div>

<footer role="contentinfo" id="footer">
  <section class="contact">
    <p>If you have any questions, please feel free to email wedding@meghanandtim.us</p>
  </section>
</footer>

</body>
</html>
